<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ListenIP" value="0.0.0.0"/>
    <add key="ListenPort" value="8080"/>
    
    <add key="WeiBarConncetion" value="server=121.199.10.72;port=3313;User Id=englishwords;Password=aaa166485;database=weibar;Charset=utf8mb4;AllowUserVariables=true"/>
  </appSettings>
</configuration>